.footer {
    /* border: 1px solid black;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
    background-color: rgba(192, 110, 82, 50%);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
}

.top {
    text-align: center;
}