.nav {
    position: sticky;
    background-color: #fdfef6;
    z-index: 30;
    top: 0;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    list-style: none;
}


.nav ul li {
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    color: black;
}

/* .nav li.active {
    color: tan;
}

.nav li:hover {
    text-decoration: underline;
} */