/* .projects-header {
    font-family: monospace;
} */

/* .projects-section {
    border: 1px solid black;
    background-color: #fdfef6;
    padding: 5%;
    font-size: x-large;
    font-family: monospace;
} */

/* .projects-section::after {
    content: "";
    clear: both;
    display: table;
} */

/* .image-container {
    display: flex;
} */

/* .image-container  {
     display: grid;
     grid-template-columns: repeat(4, minmax(25%, auto));
     max-width: 100%;
     width: var(--max-width);
 }

.image {
        padding: 1rem 1.2rem;
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }*/

/* .image:hover {
    opacity: 1.0;
}  */

/* 320px — 480px: Mobile devices 481px — 768px: iPads,
Tablets 769px — 1024px: Small screens,
laptops 1025px — 1200px: Desktops,
large screens 1201px and more — Extra large screens,
TV */


/* ///////////////////////////////////////////////////////////////// */

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    max-width: 100%;
    width: var(--max-width);
}

.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    text-decoration: none;
}

.card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
    color: black;
}

.card img {
    height: 90%;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 0.5rem;
    
}

.card img {
    opacity: 0.5;
}

.card img:hover {
    opacity: 1.0;
}

/********************* MOBILE STYLES *************************/
@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }

    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        max-width: 320px;
        text-align: center;
    }

    .card {
        padding: 1rem 2.5rem;
    }

    .card h2 {
        margin-bottom: 0.5rem;
    }

    .center {
        padding: 8rem 0 6rem;
    }

    .center::before {
        transform: none;
        height: 300px;
    }

    .description {
        font-size: 0.8rem;
    }

    .description a {
        padding: 1rem;
    }

    .description p,
    .description div {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
    }

    .description p {
        align-items: center;
        inset: 0 0 auto;
        padding: 2rem 1rem 1.4rem;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
        background: linear-gradient(to bottom,
                rgba(var(--background-start-rgb), 1),
                rgba(var(--callout-rgb), 0.5));
        background-clip: padding-box;
        backdrop-filter: blur(24px);
    }

    .description div {
        align-items: flex-end;
        pointer-events: none;
        inset: auto 0 0;
        padding: 2rem;
        height: 200px;
        background: linear-gradient(to bottom,
                transparent 0%,
                rgb(var(--background-end-rgb)) 40%);
        z-index: 1;
    }
}


/******************* TABLET AND SMALLER DESKTOP STYLES ************/

@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (prefers-color-scheme: dark) {
    .vercelLogo {
        filter: invert(1);
    }

    .logo {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}