.skills-header {
 
}


.skills-section {
  background-color: #fdfef6;
  padding: 5%;
  font-size: x-large;
  border-radius: 0.5rem;
}

.list-of-skills {
  
  border-width: 1px;
  border-left-width: 8px;
  font-size: larger;

}