.skills-header {
  font-family: cursive;
}


.skills-section {
  border: 1px solid black;
  background-color: #ce9a85;
  padding: 5%;
  font-size: x-large;
  
}

.list-of-skills {
  /* border: solid black; */
  border-width: 1px;
  border-left-width: 8px;
  border-radius: 0.5rem;
  background-color: #fdfef6;
  font-size: larger;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}